.component,
.light {
  height: 100px;
  width: 100px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: inline-block;
  border-radius: 100%;
  margin: 10px;
}

.component:hover {
  cursor: pointer;
  border: 3px dashed #ffffff;
}

.light:hover {
  border: 3px dashed #b9b9b9;
}
